doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    h1= "subway-server"
    div.spacer
    block content
    div.spacer
    p
      | Please refer to&nbsp;
      a(href="https://github.com/tomidelucca/subway-server", target="_blank") subway-server's
      |  git repo for more detailed information about how this API works.
    div.copyright
      strong © 2016 Tomi De Lucca
